
  .blue-color{
    color: #54D1BB
  }

  .dark-blue {
   color:  #2F4076;
  }

  /*div 1 header*/

  .link-nav:hover {
      color: white;
  }

  .link-nav { color: #54D1BB;
 }

  header {  background-color:  #2F4076;
  }

  body{
      margin: 0;

  }

  .header-top {
      display: flex;
      justify-content: space-between;
      padding: 60px 100px  50px;

  }

  .elements{
      display: flex;
     
  }

  .list-none{
      list-style: none;
      margin: 40px;

  }
/*div 2 header*/

.header-profile {
    display: flex;
    padding: 60px 100px 60px;
    justify-content: space-between
}

.hello {
font-family: Roboto;
font-weight: bold;
font-size: 55px;
color: white;
margin: ;

}

.profile-picture {
    border-radius: 50%;
    width: 270px;
    height: 270px;
    margin: 0px 80px 100px;

}

.description {
    display: flex;
    font-family: Roboto;
    font-size: 28px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px 60px;
    padding: 0px 60px 125px;
}


  /*
  .headerprofile {
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF
  }
 .header {
    width: 1444px;
    height: 848px;
    background-color: #2F4076;
 }




  .profile-picture {
    display: flex;
    border-radius: 50%;
    justify-content: flex-end;
    width: 300px;
    height: 300px;
    margin: 200px;
  }

.header-top {
    display: flex;
    justify-content: space-around;
    background-color: #2F4076
}

.navbar {

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #54D1BB;

} */